{% extends 'accounts/main.html' %}

{% block title %} Customers {% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h4 class="">Customers:</h4>
            <hr>
            <a href="" class="btn btn-outline-info btn-sm btn-block mb-2">Update Customer</a>
            <a href="" class="btn btn-outline-danger btn-sm btn-block">Delete Customer</a>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h4 class="">Contact Information</h4>
            <hr>
            <p>Email: </p>
            <p>Phone: </p>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h4 class="">Total Orders</h4>
            <hr>
            <h1 style="text-align: center; padding: 10px"></h1>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form action="" method="get">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}